@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Admisstion>
@{

}
@using WebTuyenSinh.Data.Entityes;

    <div class="col-md-12 p-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive  ">
                            <table id="data-table " class=" table table-hover display expandable-table" style="width:100%">
                                <thead>
                                    <tr>

                                        <th>
                                            Nôi Dung
                                        </th>
                                        <th>
                                            Hình thức tuyển sinh
                                        </th>
                                        <th>
                                            Thời Gian Bắt Đầu
                                        </th>
                                        <th>
                                            Thời Gian kết Thúc
                                        </th>
                                        <th>
                                            Mô Tả
                                        </th>
                                        <th>
                                            Trạng Thái
                                        </th>
                                        <th>
                                            #
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        <td>
                                            @item.Name
                                        </td>
                                        <th>
                                            @(item?.Type==1?"Đánh giá năng lực":"Đánh giá học bạ")
                                        </th>
                                        <td>
                                            @(item.OpenTime!=null? item.OpenTime.ToString(): "Chưa cập nhật")
                                        </td>
                                        <td>
                                            @(item.CloseTime!=null? item.CloseTime.ToString(): "Chưa cập nhật")
                                        </td>
                                        <td>
                                            @item.Description

                                        </td>
                                        <td>
                                            @if (item.Statust == 0)
                                            {
                                                <label class="badge bg-info">
                                                    Chưa diễn ra

                                                </label>
                                            }
                                            @if (item.Statust == 1)
                                            {

                                                <label class="badge bg-success">
                                                    Đang diễn ra

                                                </label>
                                            }
                                            @if (item.Statust == 2)
                                            {
                                                <label class="badge bg-warning">
                                                    Cập nhật hồ sơ
                                                </label>
                                            }
                                            @if (item.Statust == 3)
                                            {
                                                <label class="badge bg-danger">
                                                    Đã Đóng

                                                </label>
                                            }


                                        </td>
                                        <td>
                                            @if (item.Statust == 1)
                                            {
                                                <div class="form-button-action">

                                                     <a href="/Home/Create/@item.id">
                                                        Đăng ký
                                                    </a>
                                                </div>
                                            }
                                            @if (item.Statust == 2)
                                            {
                                                <div class="form-button-action">
                                                    <a href="/Home/Create/@item.id">
                                                        Cập nhật Hồ Sơ
                                                    </a>
                                                </div>
                                            }


                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

