@model ProfileView
@{
    Admisstion data = (Admisstion)ViewBag.data;
}

@using WebTuyenSinh_Application.Modell;
@using WebTuyenSinh.Data.Entityes;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        .form-title div:first-child {
            max-width: 100%;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
        <div id="liveToast" class="toast hide bg-success text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">
            Cập nhật thành công
        </div>
    </div>
    <div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
        <div id="livefail" class="toast hide bg-danger text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">
            Cập nhật thất bại
        </div>
    </div>
    <div id="note" class="a4-size bg-white">


    </div>
    <form action="" id="student-form" style="width:100%">
        <div class="a4-size bg-white mobile-container">
            <!-- header-top -->
            <div class="row d-flex flex-center">
                <div class="col c-6 educate">
                    <p class="educate-parent educate-child">TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI</p>
                    <p class="educate-parent educate-child">PHÂN HIỆU TẠI TP.HỒ CHÍ MINH</p>
                    <i class="line-head-one"></i>
                </div>
                <div class="col c-6 educate hide-on-mobile">
                    <p class="educate-parent educate-child">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                    <p class="educate-parent fw-bold">Độc lập - Tự do - Hạnh phúc</p>
                    <i class="line-head-one line-head-custom"></i>
                </div>
            </div>

            <!-- form-title -->
            <div class="form-title justify-content-end d-flex justify-content-between">

                <div class="col-12 text-center" style="margin-top:10px;">
                    <h6>PHIẾU ĐĂNG KÝ XÉT TUYỂN <span>ĐẠI HỌC CHÍNH QUY</span></h6>
                    <span style="font-size:14px">(Dành cho xét tuyển bằng học bạ)</span>
                </div>
            </div>


            <!-- form info student -->
            <div class="row student-form-info">

                <div class="row mt-3">
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>1. Họ và tên (*): </span>
                            </p>
                            <div class="validation-parent" style="width:65.5%">
                                <input type="text" required id="full_name" name="full_name" class="full-name-property ml-3"
                                       value="Phạm Trọng Trường">
                            </div>
                        </div>
                    </div>
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>2. Giới tính (*): </span>
                            </p>
                            <div class="ml-2 validation-parent  d-flex justify-content-around" style="width:48.5% ;margin-top:-3%">
                                <div class="form-check">
                                    <input required name="sex" class="form-check-input" type="radio" value="" id="checknam">
                                    <label for="flexCheckCheckedDisabled">
                                        Nam
                                    </label>

                                </div>
                                <div class="form-check">
                                    <input required name="sex" class="form-check-input" type="radio" value="" id="checknu">
                                    <label for="flexCheckCheckedDisabled">
                                        Nữ
                                    </label>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>3. Ngày sinh (*): </span>
                            </p>
                            <div class="validation-parent" style="width:65%">
                                <input required type="date" value="20" id="birthdate" name="birthdate" class="full-name-property ml-3"
                                       placeholder="11/11/2011">
                            </div>
                        </div>
                    </div>
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>4. Nơi Sinh (*): </span>
                            </p>
                            <div class="validation-parent">
                                <input required type="text" id="fromBirthDay" name="address" class="full-name-property ml-3"
                                       value="TP. Hồ Chí Minh" placeholder="TP. Hồ Chí Minh">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>5. Số CMND/CCCD (*): </span>
                            </p>
                            <div class="validation-parent" style="width:49.5%">
                                <input required type="text" id="cmnd" name="cmnd" class="full-name-property ml-3"
                                       onchange="CheckCMND(this)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-5">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <span class=" ml-3 mt-1 d-flex student-avatar-note full-name-box">
                                <span>a)Ngày cấp:: </span>
                            </span>


                            <div class="validation-parent" style="width:49.5%">

                                <input required type="date" value="2013-01-08" id="dateRange" name="cmnd" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                    <div class="col c-7">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <span class=" ml-3 mt-1 d-flex student-avatar-note full-name-box">
                                <span> b)Nơi cấp (*): </span>
                            </span>
                            <div class="validation-parent" style="width:51%">
                                <input required type="text" id="noicap" name="noicap" class="full-name-property ml-3"
                                       value="Hà Nội" placeholder="Hà Nội">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>6. Dân tộc (*): </span>
                            </p>
                            <div class="validation-parent" style="width:69%">
                                <input required type="text" id="nation" value="KINH" name="dantoc" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                    <div class="col c-6">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="m d-flex">
                                <span>7. Tôn giáo (*): </span>
                            </p>
                            <div class="validation-parent">
                                <input required type="text" value="KHÔNG" id="religion" name="tongiao" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>8. Hộ khẩu thường trú (*): </span>
                            </p>
                            <div class="validation-parent" style="width:64.6%">
                                <input required type="text" id="address" name="dantoc" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>8. Địa chỉ liên lạc (*): </span>
                            </p>
                            <div class="validation-parent" style="width:68.6%">
                                <input required type="text" id="fromTelePhone" name="dantoc" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-5">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>9. Điện thoại di động (*): </span>
                            </p>
                            <div class="validation-parent" style="width: 35%;">
                                <input required type="tel" id="teletephone" name="cmnd" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                    <div class="col c-7">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>10. Email (*): </span>
                            </p>
                            <div class="validation-parent" style="width:59.4%">
                                <input required type="email" id="Email" name="noicap" class="full-name-property ml-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span>11. Nơi học THPT hoặc tương đương: </span>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col c-12">
                        <div class="d-flex justify-content-around " style="width:100%">
                            <div>
                                <span class="  mt-1 d-flex student-avatar-note full-name-box">
                                    <span> Ghi rõ tên trường và nơi trường đóng: huyện (quận), tỉnh (TP) </span>
                                </span>
                            </div>
                            <div class="mr-5">
                                <span class="mt-1 d-flex student-avatar-note full-name-box">
                                    Tên Quận
                                </span>
                            </div>

                            <div class="mr-5">
                                <span class="mt-1 d-flex student-avatar-note full-name-box">
                                    Tên Tỉnh
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row ml-1 mt-1">
                    <div class="col c-12">
                        <div class=" d-flex mobile-column" style="width:100%">
                            <div class="d-flex day-of-birth full-name-box c-7 mobile-column">
                                <span class=" d-flex student-avatar-note full-name-box">
                                    <span> Năm lớp 10:  </span>
                                </span>
                                <div class="ml-2 d-flex justify-content-between mobile-width-select">
                                    <select class="ml-4 form-select form-select-sm" id="Consciou1" aria-label=".form-select-sm example">
                                    </select>
                                    <select class="form-select form-select-sm" id="district1" aria-label=".form-select-sm example">
                                    </select>
                                </div>
                            </div>


                            <div class="validation-parent">
                                <select required class=" form-select form-select-sm" id="School1" aria-label=" ml-3 ">
                                </select>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row ml-1 mt-1">
                    <div class="col c-12">
                        <div class=" d-flex mobile-column" style="width:100%">
                            <div class="d-flex day-of-birth full-name-box c-7 mobile-column">
                                <span class=" d-flex student-avatar-note full-name-box">
                                    <span> Năm lớp 11:  </span>
                                </span>
                                <div class="ml-2 d-flex justify-content-between mobile-width-select">
                                    <select class="ml-4 form-select form-select-sm" id="Consciou2" aria-label=".form-select-sm example">
                                    </select>
                                    <select class="form-select form-select-sm" id="district2" aria-label=".form-select-sm example">
                                    </select>
                                </div>
                            </div>
                            <div class="validation-parent">

                                <select required class="ml-2 form-select form-select-sm" id="School2" aria-label="full-name-property ml-3 form-select-sm example">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row ml-1 mt-1">
                    <div class="col c-12">
                        <div class=" d-flex mobile-column" style="width:100%">
                            <div class="d-flex day-of-birth full-name-box c-7 mobile-column">
                                <span class=" d-flex student-avatar-note full-name-box">
                                    <span> Năm lớp 12:  </span>
                                </span>
                                <div class="ml-2 d-flex justify-content-between mobile-width-select">
                                    <select class="ml-4 form-select form-select-sm" id="Consciou3" aria-label=".form-select-sm example">
                                    </select>
                                    <select class="form-select form-select-sm" onchange="" id="district3" aria-label=".form-select-sm example">
                                    </select>

                                </div>
                            </div>
                            <div class="validation-parent">
                                <select required class="ml-2 form-select form-select-sm" id="School3" aria-label="full-name-property ml-3 form-select-sm example">
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row  mt-1" style="width: 100%;">
                    <div class="col c-12 d-flex justify-content-between mobile-column gap-2" style="width:100%">
                        <div class="d-flex day-of-birth full-name-box mobile-column-full" style=" width:30%">
                            <span class="mt-2 d-flex student-avatar-note full-name-box" style="margin-right:10px">
                                <span> Năm tốt nghiệp:  </span>
                            </span>
                            <div class="validation-parent">
                                <select required class="ml-1 form-select form-select-sm" id="year" aria-label="full-name-property ml-3 form-select-sm example">
                                    @for (int i = DateTime.Now.Year; i >= (DateTime.Now.Year - 10); i--)
                                    {
                                        <option value="@i"> @i</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="d-flex day-of-birth full-name-box mobile-column-full" style=" width:30%">
                            <span class="mt-2 d-flex student-avatar-note full-name-box align-items-center" style="margin-right: 10px;">
                                <span> Khu vực:  </span>
                            </span>
                            <select required id="areas" name="cmnd" class="full-name-property form-select form-select-sm" style="width:88px;height:27px;margin-top: 4px;">

                                <option value="1"> 1</option>
                                <option value="2"> 2</option>
                                <option value="3"> 3</option>
                                <option value="2NT"> 2NT</option>
                            </select>

                        </div>

                        <div class="d-flex day-of-birth full-name-box mobile-column-full c-4" style=" width:40%">
                            <span class="mt-2 d-flex student-avatar-note full-name-box align-items-center" style="margin-right: 10px;">
                                <span> Đối tượng ưu tiên (nếu có):  </span>
                            </span>
                            <div class="validation-parent" style="margin-top: 4px;">

                                <select required id="priority_object" name="cmnd" class="full-name-property form-select form-select-sm">

                                   
                                    <option value="0"> 0</option>
                                    <option value="1"> 1</option>
                                    <option value="2"> 2</option>
                                    <option value="3"> 3</option>
                                    <option value="4"> 4</option>
                                    <option value="5"> 5</option>
                                    <option value="6"> 6</option>

                                </select>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex" style="font-size:16px">
                                <span>THÔNG TIN ĐĂNG KÝ XÉT TUYỂN </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col c-12">
                        <div class=" " style="width:100%">
                            <span class="student-avatar-note">
                                <span>
                                    Sau khi đã đọc và hiểu rõ các quy định về tiêu chí và điều kiện xét tuyển của Nhà trường, tôi đăng ký xét
                                    tuyển vào trình độ Đại học các Ngành/ Nhóm ngành theo thứ tự ưu
                                    tiên như bảng sau:
                                </span>

                            </span>

                        </div>

                    </div>
                    <br />
                    <span class="mt-2 mb-2" style="font-size:14px;position: relative;  ">
                        <span style="color:red;position: absolute;top: -4px;">(*)</span>
                        <span style="margin-left: 15px">Điểm trung bình học kỳ từng môn trong tổ hợp xét tuyển không có môn nào dưới 5.50 điểm </span>
                    </span>
                </div>
                <div class="row mt-1 mobile-table">
                    <div class="col c-12 moible-table-width">

                        <table class="talel-regis" disabled style="width:100%" dislayble>
                            <tr>

                                <th rowspan="5">
                                    Ngành xét tuyển
                                </th>
                                <th rowspan="5" style="width:12%">
                                    Tổ
                                    hợp
                                    xét
                                    tuyển
                                </th>
                            </tr>
                            <tr>
                                <th colspan="9" style="width:65%;text-align:center">
                                    Điểm trung bình 3 năm THPT
                                </th>
                            </tr>

                            <tr>
                                <th colspan="3">Môn 1 </th>
                                <th colspan="3">Môn 2</th>
                                <th colspan="3">Môn 3</th>
                            </tr>
                            <tr>
                                <th>Lớp 10</th>
                                <th>Lớp 11</th>
                                <th>HK I Lớp 12</th>
                                <th>Lớp 10</th>
                                <th>Lớp 11</th>
                                <th>HK I Lớp 12</th>
                                <th>Lớp 10</th>
                                <th>Lớp 11</th>
                                <th>HK I Lớp 12</th>
                               
                            </tr>
                            <tbody id="tbbody">
                                @{

                                    foreach (var item in Model.Data.InforMationProflies)
                                    {
                                    <tr>

                                        <td>

                                            <select disabled class=" form-select form-select-sm major" onchange="Option(this)" required aria-label=".form-select-sm example">
                                                <option value="">Chọn Ngành</option>
                                                @foreach (var item1 in data.Admisstion_Major)
                                                    {
                                                        if (item.idMajor.Trim().Equals(item1.idMajor.Trim()))
                                                        {
                                                <option value="@item.idMajor" selected>@item1.Major.Name</option>
                                                        }
                                                        else
                                                        {
                                                <option value="@item.idMajor">@item1.Major.Name</option>
                                                        }

                                                    }


                                            </select>
                                        </td>
                                        <td>
                                            <select class=" form-select form-select-sm block" required aria-label=".form-select-sm example">

                                                @foreach (var item1 in data.Admisstion_Major)
                                                    {
                                                        if (item.idMajor.Trim().Equals(item1.idMajor.Trim()))
                                                        {
                                                            foreach (var item2 in item1.Addmisstion_Major_Block)
                                                            {
                                                                if (item.idBlock.Trim().Equals(item2.idBlock.Trim()))
                                                                {
                                                <option value="@item.idBlock" selected>@item.idBlock</option>
                                                                }
                                                                else
                                                                {
                                                <option value="@item2.idBlock">@item2.idBlock</option>
                                                                }
                                                            }

                                                        }

                                                    }

                                            </select>
                                        </td>
                                        <td><input type="text" class="subject1" onchange="CheckMart(this)" required value="@item.subject1" /></td>
                                        <td><input type="text" class="subject2" onchange="CheckMart(this)" required value="@item.subject2" /></td>
                                        <td><input type="text" class="subject3" onchange="CheckMart(this)" required value="@item.subject3" /></td>
                                        <td><input type="text" class="subject4" onchange="CheckMart(this)" required value="@item.subject4" /></td>
                                        <td><input type="text" class="subject5" onchange="CheckMart(this)" required value="@item.subject5" /></td>
                                        <td><input type="text" class="subject6" onchange="CheckMart(this)" required value="@item.subject6" /></td>
                                        <td><input type="text" class="subject7" onchange="CheckMart(this)" required value="@item.subject7" /></td>
                                        <td><input type="text" class="subject8" onchange="CheckMart(this)" required value="@item.subject8" /></td>
                                        <td><input type="text" class="subject9" onchange="CheckMart(this)" required value="@item.subject9" /></td>
                                        <td>
                                            <div class="form-button-action">
                                                <input type="number" required value="@item.STT" />
                                            </div>
                                        </td>

                                    </tr>
                                    } }

                            </tbody>




                        </table>

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <div class=" form-group ">
                                <div class="">
                                    <span style="font-size:13px;position: relative;  ">
                                        <span style="color:red;position: absolute;top: -4px;">(*)</span>
                                        <span style="margin-left: 15px;">: Chọn file ảnh hay file scan Phiếu đăng ký xét tuyển, Học bạ THPT, Các giấy tờ minh chứng được hưởng chế độ ưu tiên (nếu có)                         <button class="btn-primary ml-1" style="border:none" type="button" onclick="$('.addImg').trigger( 'click' )">Chọn FILE </button></span>
                                    </span>
                                   
                                </div>

                                <input class="addImg" multiple id="files" hidden type='file' onchange="readURL(this);" accept="application/pdf,image/*" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-4 form-group ml-5">
                    <div class=" card-body row file-upload-content" id="file-upload-content" name=btnanh style="margin-top:-2%">


                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex" style="width:100%">
                            <p class="mt-1 d-flex">
                                <span style="font-weight:normal" class="camdoan">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Tôi xin cam
                                    đoan những lời
                                    khai trên là đúng sự
                                    thật.
                                    Nếu có gì sai trái, tôi xin chịu trách
                                    nhiệm và bị xử lý theo Quy chế tuyển sinh hiện hành của Bộ Giáo dục và Đào tạo.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mr-auto ">
                    <div class="col c-12">
                        <div class="day-of-birth full-name-box d-flex justify-content-end" style="width:100%">
                            <p class="mt-1">
                                <span style="font-weight:normal;">
                                    <div class="validation-parent" style="width:20%;justify-content: end;display: flex">
                                        <input type="text" value="TP.HỒ CHÍ MINH" id="" name="" style="font-size: 13px;"
                                               class="full-name-property-1 ml-3">
                                        <span style="margin-left: 10px;margin-top: 2px;">ngày</span>
                                        <input type="text" id="" name="" style="font-size: 13px"
                                               value="@Model?.Data?.CreateDate.Value.Day" class="full-name-property-1 ml-3">
                                        <span style="margin-left: 10px;margin-top: 2px;">tháng</span>
                                        <input value="@Model?.Data?.CreateDate.Value.Month" type="text" id="" name="" style="font-size: 13px;"
                                               class="full-name-property-1 ml-3">
                                        <span style="margin-left: 10px;margin-top: 2px;">năm</span>
                                        <input value="@Model?.Data?.CreateDate.Value.Year" type="text" id="" name="" style="font-size: 13px;"
                                               class="full-name-property-1 full-name-property-1-year ml-3">
                                    </div>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- xác nhận -->
            <div class="confirm mt-3">
                <div class="row d-flex flex-center">
                    <div class="col c-5 educate">

                    </div>
                    <div class="col c-5 educate">
                        <p class="educate-parent educate-child">NGƯỜI ĐĂNG KÝ HỌC</p>
                        @*<p class="educate-parent" style="font-style: italic">(Ký tên, ghi rõ họ tên)</p>*@
                        <p class="educate-parent signature" style="margin-top: 50px;">
                            @Model.Data.Name
                        </p>
                    </div>
                </div>
            </div>
            <div class="container mt-5 text-center">
                <button class="btn btn-primary btn-sm" type="submit"> Lưu</button>
            </div>

        </div>

    </form>
</body>
</html>
@section Scripts{
    <script>
        let conscious = [];
        let district = [];
        let sChool = [];
        let Profile;
        let blocks = [];
        let majors = []; let fileUrl = [];
        function CheckMart(e) {
            try {
                var mark = $(e).val()
                var x = Number($(e).val())

                if (x > 0 && x < 11) {

                }
                else {
                    $(e).val("")
                }

            } catch { $(e).val("") }
        }
        function CheckCMND(e) {
            try {
                var mark = $(e).val()
                var x = Number($(e).val())

                console.log(mark);
                if (x > 0 && (mark.length == 9 || mark.length == 12)) {

                }
                else {
                    $(e).val("")
                }

            } catch { $(e).val("") }
        }

        function Option(e) {
            console.log($(e).val())
            $(e).closest("tr").find("td:eq(1)").empty();
            $.each(majors, function (k, v) {
                if (v.idMajor.trim() === $(e).val().trim()) {

                    let selectblock = ` <select class=" form-select form-select-sm block"  required aria-label=".form-select-sm example">
                       `
                    $.each(v.block, function (index, value) {
                        selectblock += ` <option value="${value}">${value}</option>`
                    })
                    selectblock += `</select>`
                    $(e).closest("tr").find("td:eq(1)").append(selectblock);
                }

            });
        }

    
        $(document).ready(function () {

            let id = window.location.href.split('/').pop();
            $.ajax({
                async: false,
                url: "/Home/GETProfile/" + id,
                type: 'GET',
            }).done(
                function (res) {
                    console.log(res);
                    if (res.success) {
                        console.log(res.data)
                        conscious = res.data.conscious;
                        console.log(conscious);
                        district = res.data.district
                        console.log(district);
                        sChool = res.data.sChool;
                        console.log(sChool);
                        Profile = res.data.data

                        LoadProfile();
                    }

                }
            );

            $.ajax({
                async: false,
                url: "/Home/GetAdmisstionInfo/" + Profile.idAdmisstion,
                type: 'GET',
            }).done(function (res) {
                console.log(res)
                if (res.success) {
                    majors = res.data;

                }
            });

            $('#student-form').on('submit', function (e) {
                e.preventDefault(); // Now nothing will happen
                var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                var mobile = $("#teletephone").val();
                if (mobile !== '') {
                    if (vnf_regex.test(mobile) == false) {
                        $("#livefail").text("Số điện thoại của bạn không đúng định dạng!")
                        $("#livefail").toast("show");
                        $("#teletephone").focus();
                        return;
                    }
                } else {
                    $("#livefail").text("Bạn chưa điền số điện thoại!")
                    $("#livefail").toast("show");
                    $("#teletephone").focus();
                    return;
                }
                    Profile.name = $("#full_name").val();
                Profile.birthDay = $("#birthdate").val();
                Profile.adress = $("#address").val();
                Profile.cmnd = $("#cmnd").val();
                Profile.dateRange = $("#dateRange").val();
                Profile.adressRange = $("#noicap").val();
                Profile.nation = $("#nation").val();
                Profile.religion = $("#religion").val();
                Profile.fromBirthDay = $("#fromBirthDay").val();
                Profile.fromTelePhone = $("#fromTelePhone").val();
                Profile.teletephone = $("#teletephone").val();
                Profile.email = $("#Email").val();
                Profile.year = $("#year").val();
                Profile.areas = $("#areas").val();
                Profile.statust = (Profile.statust != 3 ? 4 : Profile.statust);
                Profile.priority_object = $("#priority_object").val();
                $.each(sChool, function (k, v) {

                    if ($("#School1").val() == v.idSchool) {
                        Profile.shoo1 = v.id
                    }
                    if ($("#School2").val() == v.idSchool) {
                        Profile.shoo2 = v.id
                    }
                    if ($("#School3").val() == v.idSchool) {
                        Profile.shoo3 = v.id
                    }

                });
           
                var input = $(".subject1")
                Profile.inforMationProflies = [];
                $.each(input, function (k, v) {
                    Profile.inforMationProflies.push({
                        idBlock: $(v).closest("tr").find("select:eq(1)").val().trim(),
                        idMajor: $(v).closest("tr").find("select:eq(0)").val().trim(),
                        subject1: $(v).closest("tr").find("input:eq(0)").val().trim(),
                        subject2: $(v).closest("tr").find("input:eq(1)").val().trim(),
                        subject3: $(v).closest("tr").find("input:eq(2)").val().trim(),
                        subject4: $(v).closest("tr").find("input:eq(3)").val().trim(),
                        subject5: $(v).closest("tr").find("input:eq(4)").val().trim(),
                        subject6: $(v).closest("tr").find("input:eq(5)").val().trim(),
                        subject7: $(v).closest("tr").find("input:eq(6)").val().trim(),
                        subject8: $(v).closest("tr").find("input:eq(7)").val().trim(),
                        subject9: $(v).closest("tr").find("input:eq(8)").val().trim(),
                        stt: $(v).closest("tr").find("input:eq(9)").val().trim(),
                    })
                })
                if ($("#checknam").prop("checked")) {
                    Profile.sex = 0;
                } else {
                    Profile.sex = 1;
                }
                if (fileUrl.length == 0) {
                    $("#livefail").text("Vui lòng upload các giấy tờ cần thiết")
                    $("#livefail").toast("show");
                    return;
                }
                if (Profile) {
                    $('#particles1').show();
                    $.ajax({
                        async: false,
                        url: Url+"/admisstion/createprofile",
                        type: 'post',

                        data: { Profile: Profile, files: fileUrl },

                    }).done(function (data) {
  
                        if (data.success) {
                            profile = data.data
                            var link = document.createElement("a");
                            // If you don't know the name or want to use
                            // the webserver default set name = ''
                            $(link).attr({
                                target: '_blank',
                                href: Url + Profile.url
                            });
                            link.click();
                            link.remove();
                            $("#livetoast").toast("show");
                            window.location = "/Home/EditProfile/" + id
                        }
                        else {
                            $('#particles1').hide();
                            $("#livefail").text(data.message)
                            $("#livefail").toast("show");
                        }

                    }).fail(function () {
                        $('#particles1').hide();
                        $("#livefail").text("Quá trình đăng ký thất bại")
                        $("#livefail").toast("show");

                    });
                }
            });
            $("#Consciou1").change(function () {
                $("#district1").empty()
                let option = `<option value="">Vui lòng chọn</option>`
                $("#district1").append(option)
                $.each(district, function (k, v) {
                    if (v.idConscious == $("#Consciou1").val()) {
                        option = `<option value="${v.idDistrict}">${v.nameDistrict}</option>`
                        $("#district1").append(option)
                    }
                })
                $("#School1").empty()
                option = `<option value="">Vui lòng chọn</option>`
                $("#School1").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idConscious == $("#Consciou1").val()) {
                        option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School1").append(option)
                    }
                })
            })
            $("#district1").change(function () {
                $("#School1").empty()
                $("#Consciou1").val($("#district1").val().split('/').pop())
                let option = `<option value="">Vui lòng chọn</option>`
                $("#School1").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idDistrict == $("#district1").val()) {
                        option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School1").append(option)
                    }
                })
            })

            $("#Consciou2").change(function () {
                $("#district2").empty()
                let option = `<option value="">Vui lòng chọn</option>`
                $("#district2").append(option)
                $.each(district, function (k, v) {
                    if (v.idConscious == $("#Consciou2").val()) {
                        option = `<option value="${v.idDistrict}">${v.nameDistrict}</option>`
                        $("#district2").append(option)
                    }
                })
                $("#School2").empty()
                option = `<option value="">Vui lòng chọn</option>`
                $("#School2").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idConscious == $("#Consciou2").val()) {
                        let option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School2").append(option)
                    }
                })
            })
            $("#district2").change(function () {

                $("#School2").empty()
                $("#Consciou2").val($("#district2").val().split('/').pop())
                let option = `<option value="">Vui lòng chọn</option>`
                $("#School2").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idDistrict == $("#district2").val()) {
                        option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School2").append(option)
                    }
                })
            })
            $("#Consciou3").change(function () {
                $("#district3").empty()
                let option = `<option value="">Vui lòng chọn</option>`
                $("#district3").append(option)
                $.each(district, function (k, v) {
                    if (v.idConscious == $("#Consciou3").val()) {
                        option = `<option value="${v.idDistrict}">${v.nameDistrict}</option>`
                        $("#district3").append(option)
                    }

                })
                $("#School3").empty()
                option = `<option value="">Vui lòng chọn</option>`
                $("#School3").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idConscious == $("#Consciou3").val()) {
                        option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School3").append(option)
                    }
                })


            })
            $("#district3").change(function () {
                $("#School3").empty()
                $("#Consciou3").val($("#district3").val().split('/').pop())
                let option = `<option value="">Vui lòng chọn</option>`
                $("#School3").append(option)
                $.each(sChool, function (k, v) {

                    if (v.idDistrict == $("#district3").val()) {
                        option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                        $("#School3").append(option)
                    }
                })


            })

            $("#School1").change(function () {
                if ($("#School1").val().length > 0) {
                    $("#Consciou1").val($("#School1").val().split('/').pop())
                    $("#district1").val($("#School1").val().split('/')[1] + "/" + $("#School1").val().split('/').pop())
                }
            })
            $("#School2").change(function () {
                if ($("#School2").val().length > 0) {
                    $("#Consciou2").val($("#School2").val().split('/').pop())
                    $("#district2").val($("#School2").val().split('/')[1] + "/" + $("#School2").val().split('/').pop())
                }
            })
            $("#School3").change(function () {
                if ($("#School3").val().length > 0) {
                    $("#Consciou3").val($("#School3").val().split('/').pop())
                    $("#district3").val($("#School3").val().split('/')[1] + "/" + $("#School3").val().split('/').pop())
                }
            })


            $(document).on('click', "button[name = 'deleteImg']", function () {

                let index = $(this).closest('button').attr("id")
                console.log(index)
                var filtered = fileUrl.filter(function (value, i, arr) {
                    return i != index;
                });

                fileUrl = filtered;
                console.log(fileUrl)
           
                var img = $('#file-upload-content');
                img.empty();
                var let = `<div class="col-4 col-sm-2  text-center">
<a href ="${Url}/${Profile.url}" target="_blank" class="img-content">
                    <img src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" class="img-thumbnail" alt="...">
               </a> </div>`;
                $(img).append(let);
                $.each(fileUrl, function (k, v) {

                    if (v.url.endsWith("pdf")) {

                        var let = `<div class="col-4 col-sm-2  text-center">
 <button name="deleteImg" id='${k}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" >
                    <img src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" class="img-thumbnail" alt="...">
       
<span class="img-name">${v.name}</span>
        </a>
</div>`;
                    }
                    else {
                        var let = `<div class="col-4 col-sm-2   text-center">
 <button name="deleteImg" id='${k}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" >
                    <img src="${Url}/${v.url}"  class="img-thumbnail" alt="...">
<span class="img-name" >${v.name}</span>
   </a>
                </div>`;
                    }

                    $(img).append(let);
                });
          
             
             
            });
        });


        function LoadProfile() {

            $("#full_name").val(Profile.name);
            $("#birthdate").val(Profile.birthDay.split('T')[0]);
            $("#address").val(Profile.adress);
            $("#cmnd").val(Profile.cmnd);

            $("#dateRange").val(Profile.dateRange.split('T')[0]);
            $("#noicap").val(Profile.adressRange);
            $("#note").html(Profile.note);
            $("#nation").val(Profile.nation);
            $("#religion").val(Profile.religion);
            $("#fromBirthDay").val(Profile.fromBirthDay);
            $("#fromTelePhone").val(Profile.fromTelePhone);
            $("#teletephone").val(Profile.teletephone);
            $("#Email").val(Profile.email);
            $("#year").val(Profile.year);
            $("#areas").val(Profile.areas);
            $("#priority_object").val(Profile.priority_object);
            if (Profile.sex === 0) {

                $("#checknam").prop("checked", true);
            }
            else {
                $("#checknu").prop("checked", true);
            }
            var img1 = $('#file-upload-content');
            var let = `<div class="col-4 mt-3 col-sm-2 text-center">
<a href ="${Url}/${Profile.url}" target="_blank" class="img-content">
                    <img src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" class="img-thumbnail" alt="...">
               </a> </div>`;
            $(img1).append(let);
       
    
            $.each(Profile.fileProfiles, function (k, v) {
                fileUrl.push({
                    url: v.url,
                    name: v.name
                });
                if (v.url.endsWith("pdf")) {
                    var let = `<div class="col-4 col-sm-2 text-center">
        <button name="deleteImg" id='${k}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" class="img-content">

                    <img src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" class="img-thumbnail" alt="...">
       
<span class="img-name" >${v.name}</span>
        </a>
</div>`;
                }
                else {
                    var let = `<div class="col-4 col-sm-2 text-center">
    <button name="deleteImg"  id='${k}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" class="img-content">

                    <img src="${Url}/${v.url}"  class="img-thumbnail" alt="...">
<span class="img-name" >${v.name}</span>
   </a> 
                </div>`;
                }


                $(img1).append(let);
            })
      
            $.each(conscious, function (k, v) {
                let option = `<option value="${v.idConscious}">${v.nameConscious}</option>`
                $("#Consciou1").append(option)
                $("#Consciou2").append(option)
                $("#Consciou3").append(option)
            })
            $.each(district, function (k, v) {
                let option = `<option value="${v.idDistrict}">${v.nameDistrict}</option>`
                $("#district1").append(option)
                $("#district2").append(option)
                $("#district3").append(option)
            })

            let idshoo1 = "";
            let idshoo2 = "";
            let idshoo3 = "";
            $.each(sChool, function (k, v) {

                let option = `<option value="${v.idSchool}">${v.nameSchool}</option>`
                $("#School1").append(option)
                $("#School2").append(option)
                $("#School3").append(option)
                if (Profile.shoo1 == v.id) {
                    idshoo1 = v.idSchool
                    $("#district1").val(v.idDistrict)
                    $("#Consciou1").val(v.idConscious)
                }
                if (Profile.shoo2 == v.id) {
                    idshoo2 = v.idSchool
                    $("#district2").val(v.idDistrict)
                    $("#Consciou2").val(v.idConscious)
                }
                if (Profile.shoo3 == v.id) {
                    idshoo3 = v.idSchool
                    $("#district3").val(v.idDistrict)
                    $("#Consciou3").val(v.idConscious)
                }
            })




            $("#School1").val(idshoo1)
            $("#School2").val(idshoo2)
            $("#School3").val(idshoo3)

            //    $("#teletephone").val(Profile.teletephone);
        }
        function readURL(input) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var img = $('#file-upload-content');
            // Create  a FormData object
            var fileData = new FormData();

            // if there are multiple files , loop through each files
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding more keys/values here if need
            fileData.append('Test', "Test Object values");

            $.ajax({
                url: Url + "/File/AddReplyDetails",
                type: "POST", //as we will be posting files and other method POST is used
                processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                contentType: false,
                dataType: "json",
                data: fileData,
                success: function (result) {
                    let sl = fileUrl.length

                    fileUrl = fileUrl.concat(result);
                   
                    $.each(result, function (k, v) {
                        
                        if (v.url.endsWith("pdf")) {

                            var let = `<div class="col-4 col-sm-2 text-center">
 <button name="deleteImg" id='${k+sl}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" >
                    <img src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" class="img-thumbnail" alt="...">
       
<span class="img-name">${v.name}</span>
        </a>
</div>`;
                        }
                        else {
                            var let = `<div class="col-4 col-sm-2 text-center">
 <button name="deleteImg" id='${k + sl}' type="button" class="text-danger mr-auto" style="border:none"> X</button>
<a href ="${Url}/${v.url}" target="_blank" >
                    <img src="${Url}/${v.url}"  class="img-thumbnail" alt="...">
<span class="img-name">${v.name}</span>
   </a>
                </div>`;
                        }

                        $(img).append(let);
                    });
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

       
    </script>
}