@model List<ProfileStudentsView>
@{

}
@using WebTuyenSinh_Application.ViewApi;
<div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
    <div id="liveToast" class="toast hide bg-success text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">
            Cập nhật thành công 
    </div>
</div>
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="txtstatus" onchange="handleChange()" aria-label="Default select example">
                    <option value="1">Chưa duyệt</option>
                    <option value="2">Đã duyệt</option>
                    <option value="3">Yêu cầu chỉnh sửa</option>
                </select>
                <div class="mb-3" id="frmbody">

                    <label for="exampleFormControlTextarea1" class="form-label">Thời gian nôp</label>
                    <input type="datetime-local" class="form-control" id="textstart" />
                    <label for="exampleFormControlTextarea1" class="form-label">Ghi chú</label>
                    <textarea class="form-control" id="txtcom" rows="15"></textarea>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" id="btnsubmit" class="btn btn-success btn-sm">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card" id="frm1">
    <div class="card">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="m-3 border-bottom pb-3">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">@ViewBag.Majo</h4>
                            <div class="ml-auto">
                                <a class="btn btn-primary btn-round ml-auto"
                                   href="/Admisstion/Create">
                                    <i class="ti-plus"></i>
                                    Thêm Mới
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="data-table" class="display expandable-table" style="width:100%">
                                        <thead class="text-center">
                                            <tr>
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    Họ Tên
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    SĐT
                                                </th>
                                                <th>
                                                    CMND
                                                </th>
                                                <th>
                                                    Số Nguyện Vọng
                                                </th>
                                                <th>
                                                    Ngày Nộp
                                                </th>
                                                <th>
                                                    Trạng Thái
                                                </th>
                                                <th>
                                                    #
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.id
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Email
                                                    </td>
                                                    <td>
                                                        @item.Teletephone

                                                    </td>
                                                    <td>
                                                        @item.CMND
                                                    </td>
                                                    <td>
                                                        @item.Quantity
                                                    </td>
                                                    <td>
                                                        @(item?.CreateDate.Value.ToString("dd/MM/yyyy  HH:mm tt") ?? "")
                                                    </td>
                                                    <td>
                                                        @if (item.Statust == 1)
                                                        {
                                                            <button name="status" id="@item.id" class="badge border-0 badge badge-info">
                                                                Chưa duyệt

                                                            </button>
                                                        }
                                                        @if (item.Statust == 2)
                                                        {
                                                            <button name="status" id="@item.id" class="badge border-0 badge badge-success">
                                                                Đã duyệt

                                                            </button>
                                                        }
                                                        @if (item.Statust == 3)
                                                        {
                                                            <button name="status" id="@item.id" class="badge border-0 badge badge-warning">
                                                                Đang cập nhật

                                                            </button>
                                                        }
                                                        @if (item.Statust == 4)
                                                        {
                                                            <button name="status" id="@item.id" class="badge border-0" style="background:rgb(239 207 48 / 0.88)">
                                                                Đã cập nhật

                                                            </button>
                                                        }
                                                    </td>
                                                    <td>

                                                        <a href="/Admisstion/ProfileDetail/@item.id" data-toggle="tooltip" title="" class="btn  btn-icon-text text-success  " data-original-title="Edit Task">
                                                            <i class="ti-pencil-alt"></i>
                                                        </a>
                                                        <a hef="/DeleteShool" data-toggle="tooltip" title="" class="btn  btn-icon-text text-danger" data-original-title="Remove">
                                                            <i class="ti-close"></i>
                                                        </a>

                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
            <div id="liveToast" class="toast hide bg-success text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">

            </div>
        </div>
        <div class="position-fixed end-0 mt-5 pt-2 " style="z-index: 11">
            <div id="livefail" class="toast hide bg-danger text-white p-2" role="alert" aria-live="assertive" aria-atomic="true">
                Cập nhật thất bại
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        let id = 0;
        let button;
        function handleChange() {
            var a = $("#txtstatus").val();
            if (a === "3") {
                $("#frmbody").show();

                $(".modal-dialog").addClass("modal-xl  modal-dialog-scrollable");
            }
            else {
                $("#frmbody").hide();
                $(".modal-dialog").removeClass("modal-xl modal-dialog-scrollable");
            }
        }
        $(document).ready(function () {
            $('#txtcom').summernote({
                placeholder: 'Mời nhập nộp dung',
                tabsize: 2,
                height: 300
            });
            $(".note-icon-trash").trigger('click');

            $(document).on('click', "button[name = 'status']", function () {
                $(".modal-dialog").removeClass("modal-xl modal-dialog-scrollable");
                $("#frmbody").hide();
                $("#frmbody").hide();
                $("#staticBackdrop").modal("show");
                $(".modal-dialog").removeClass("modal-xl");
                button = this;
                id = this.id;
          
            })
            $("#btnsubmit").click(function () {
                let comment = $("#txtcom").val();
                var a = $("#txtstatus").val();
                var date = $("#textstart").val();
                if (a) {
                    $.ajax({
                        url: "/Admisstion/UpdateProfile/" + id,
                        type: 'POST',
                        data: { comment: comment, date: date, status: a },
                        success: function (res) {
                            if (res.success) {
                                $("#liveToast").empty();
                                $("#liveToast").append(res.message);
                                $("#liveToast").toast("show");
                                if (a === "1") {
                                    $(button).text("Chưa duyệt")
                                    $(button).removeClass("badge-success badge-warning")
                                    $(button).addClass("badge badge-info");
                                }
                                if (a === "2") {
                                    $(button).text(" Đã duyệt")
                                    $(button).removeClass("badge-info badge-warning")
                                    $(button).addClass("badge badge-success");

                                }
                                if (a === "3") {
                                    $(button).removeClass("badge-info badge-warning")
                                    $(button).text("Đang cập nhật")
                                    $(button).addClass("badge-warning");
                                }

                            }
                            else {
                                $("#livefail").empty();
                                $("#livefail").append(res.message);
                                $("#livefail").toast("show");
                            }
                            $("#staticBackdrop").modal("hide");
                        }
                    });
                }


            })

        })


    </script>
}